compile
dcu
Debug
Release
*.identcache
*.local
*.gex
__history

# Delphi local files (user-specific info)
*.local
*.identcache
*.projdata
*.tvsconfig
*.dsk
*.txaPackage

# Delphi history and backups
__history/
*.~*
*.bak
*.cbk
*.stat
*.dof
zzz_commit
cond_define.inc

~codesearch.index

prd/__pycache__